body{
	background: #fdd947
}
td, th{
    border: 1px, white;
    text-align: center;
  }
  
  .cell{
    background-color: #fdd947;
  }
  .cell1{
    background-color:#d5d5d3

  }
 a{
   color:#d5d5d3; text-decoration:none ; 
  }

  
  .flex-header{
    display: flex;
    flex-flow: row nowrap;
    width:100%; 
    background-color: #272727; 
    margin: -10 0 auto;
    padding: -150;
    height:115;
    width: 100%;
    border:3px solid #d5d5d3;
  }
  
.flex-nav-element{
  margin: 0;
  color:#272727;
}
  @font-face {
      
    font-family: "mr_PotraLightG"; 
    src: url('19700.ttf'); 
    font-style: normal; 
    font-weight: normal; 
  }
  .flex-item{
color:#d5d5d3;
    font-family: mr_PotraLightG;
    width: 300px;
    margin: -90 300;
    
  }
  .flex-nav{
    display: flex;
flex-direction: column;
margin: 0 auto; 
width: 100%;
background-color: #fdd947;
margin-top:20px; 
padding:10px;
}
  .flex-items{
    display: flex;
    flex-flow: row nowrap;
    color:#fdd947; text-decoration:none;
    flex-direction: column;
    font-size: 0.65cm;
    padding: 50px;
    margin: 10 30 auto;
    font-family: "mr_PotraLightG";
    background:#444444;
    border:3px solid #d5d5d3;
    
  }
  #img{ 
    margin:-54px 20; 
    width:250px; 
    height:200px; 
    border-radius: 0; 
  }
  #name{
     
    padding: -10;
    font-size: 100px;

  }

  .flex-footer{
    display: flex;
    flex-flow: row nowrap;
    font-family: "mr_PotraLightG";
    color:#d5d5d3;
    border:3px solid #d5d5d3;
    
    background-color: #272727; 
    margin: -5 0 auto;
    padding: 50 150 auto;
    height:115;
    width: 100%;
  }
  .flex-nav {
    
    margin: 6 0 auto;
    padding: 0 10 auto;
    font-size: 30;
    font-family: "mr_PotraLightG";
    flex-direction: row;
    border:2px solid #272727;
    
    
  }
  .flex-nav-element{
    margin: auto;
    
    color: #272727;
    border-right: 1px solid #272727;
    border-left: 1px solid #272727;
    border-radius: 7px;
    border-block-end: 5px;
    border-spacing:10px 10px;
    

  }
